$font-normal: 'Soleil-Book', Tahoma, Sans-Serif
$font-light: 'Soleil-Light', Tahoma, Sans-Serif
$font-bold: 'Soleil-Bold', Tahoma, Sans-Serif

$black-color: black
$divider-color: #ebebeb
$event-type-color: #94720a
$event-type-bg-color: #ffc000
$event-place-color: #bbbbbb


$logo-max-width: 100px
$logo-max-height: 50px
$event-day-size: 40px
$event-month-size: 12px
$event-sl-size: 5.5px
$event-hl-size: 10.5px

$tablet: 768px
$desktop: 1200px
